.contentimg:hover .contentcard{
    transform: translateY(-2.5rem);
    background: aqua;
}

.contentimg:hover{
    transform: translateY(1rem);
}

.contentcard{
    transform: translateY(-1rem);
}

.logobg{
    background-image: url(https://picsum.photos/id/2/1280/720);
}

.wrapin{
    width: 100vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.wrapout{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
}

.ssx{
    width: 100vh;
    height: 100vw;
}

.testvis{
    visibility: hidden;
}

.lol:hover .testvis{
    visibility: visible;
}

.backbtn:hover .chevleft{
    transform: translateX(-8px);
}

.clip{
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    transition: 0.5s all ease-in-out;
}

.clip:hover{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.clip2{
    clip-path: polygon(0 0, 100% 0%, 0 100%, 0% 100%);
}
.clip3{
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0 100%);
}

.txtexplore{
    transition: 0.3s all ease-in-out;
    transform: translateY(-120%) translateX(-100%);
}

.btnexplore:hover .txtexplore{
    transition: 0.3s all ease-in-out;
    transform: translateX(-100%);
}


.btnexplore:hover .arrowexplore{
    transition: 0.3s all ease-in-out;
    transform: translateX(4rem);
}

.testhov{
    height: 100%;
    background: white;
    transform: translateX(-100%);
    object-fit: cover;
    transition: 0.5s all ease-in-out;
    transform-origin: right;
}

.cardx:hover .testhov{
    transform: translateX(0);
}

.testhov2{
    height: 100%;
    background: #071e3d;
    transform: translateY(-100%);
    object-fit: cover;
    transition: 0.5s all ease-in-out;
    transform-origin: right;
}

